.grid, .masonry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

    .thumbnail {
        display: block;
        text-align: center;

        IMG {
            display: block;
        }
    }
}
.grid {
    grid-gap: .5em;
    .thumbnail {
        IMG {
            max-width: 100%;
            max-height: 50vw;
        }
    }
}
.masonry {
    grid-template-rows: masonry;
    grid-gap: .2em;
    .thumbnail {
        IMG {
            object-fit: cover;
            width: 100%;
            max-height: 50vw;
            border: 1px solid var(--block-border);
        }
    }
}