.metadata {
    TABLE {
        TD {
            overflow-wrap: anywhere;
            IMG {
                height: 100%;
            }
        }
        TR:last-child TD {
            padding-left: 0;
        }
    }
}