.page {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: scroll;

    display: flex;
    flex-direction: column;

    HEADER {
        flex: 0 0 auto;
        z-index: 10;
    }
    ARTICLE {
        flex: 1 0 auto;
        padding: 0.5em;
        margin-top: 2.7em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        & > H3 {
            flex: 0 0 auto;
        }
        & > .block {
            flex: 1 1 auto;
        }
    }
    FOOTER {
        flex: 0 0 auto;
    }
}
