.page {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: scroll;

    display: flex;
    flex-direction: column;

    HEADER {
        flex: 0 0 auto;
        z-index: 10;
    }
    ARTICLE {
        flex: 1 0 auto;
        padding: .5em;
        margin-top: 2.7em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        &>H3 {
            border: 1px solid var(--block-border);
            background-color: var(--header-bg);
            margin-bottom: 0;
            text-align: center;
            padding: 0.5em;
            flex: 0 0 auto;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &>.block {
            flex: 1 1 auto;
        }
    }
    FOOTER {
        flex: 0 0 auto;
    }
}
