.voter {
    display: flex;
    flex-direction: row;
    gap: 0.3em;
    align-items: center;
    justify-content: flex-start;
    & > * {
        flex: 0 0 auto;
    }
    .voted {
        color: #c00;
    }
}
