.voter {
    display: flex;
    flex-direction: column;
    &>* {
        flex: 0 0 auto;
    }
}
.metadata {
    display: flex;
    flex-direction: row;
    align-items: center;
    &>* {
        flex: 0 0 auto;
    }
    &>TABLE {
        flex: 1 1 auto;
    }
    TH {
        vertical-align: top;
    }
    TD {
        overflow-wrap: break-word;
    }
}