.header {
    display: block;
    position: fixed;
    top: 0;
    transition: top .3s ease;
    left: 0;
    right: 0;
    padding: .5em;
    background: var(--block-bg);
    border-bottom: 1px solid var(--block-border);
    white-space: nowrap;

    .topbar {
        margin: .25em 1em;
        display: flex;
        align-items: center;
        &>* {
            margin-left: 1em;
            flex: 0 0 auto;
        }
        &>*:first-child {
            margin-left: 0em;
        }
        .logo {
            height: 2em;
            margin-top: -0.5em;
            margin-bottom: -0.5em;
        }
        FORM {
            flex: 1 1 auto;
            display: flex;
            border: 1px solid var(--block-border);
            background: white;
            padding-left: .2em;
            border-radius: .2em;
            overflow: hidden;
            INPUT[type="text"] {
                flex: 1 1 auto;
                min-width: 0;
                border: 0px;
            }
            INPUT[type="submit"],
            BUTTON {
                font-size: 0.65em;
                flex: 0 0 auto;
                min-width: 0;
                border: 0px;
                padding-top: 0.3em;
                border-left: 1px solid var(--block-border);
            }
        }
        DIV {
            vertical-align: "text-top";
            position: relative;
            margin-top: -0.5em;
            margin-bottom: -0.5em;
            width: 2em;
            height: 2em;
            .avatar {
                width: 2em;
                height: 2em;
                border-radius: .5em;
                border: 1px solid var(--block-border)
            }
            SPAN {
                position: absolute;
                bottom: -0.2em;
                right: -0.2em;
                background: red;
                border: 1px solid #800;
                padding: 0 .2em;
                border-radius: 1em;
                font-size: 0.5em;
                font-weight: bold;
            }
        }
    }
    .flex {
        margin: .25em 1em;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        &>* {
            margin-left: 1em;
            flex: 0 0 auto;
        }
        &>*:first-child {
            margin-left: 0em;
        }
        &>.fill {
            flex: 1 1 auto;
        }
        FORM {
            display: flex;
            border: 1px solid var(--block-border);
            background: white;
        }
        INPUT[type="text"],
        INPUT[type="password"] {
            flex: 1 1 auto;
            min-width: 0;
        }
    }
    FORM.flex {
        INPUT {
            max-width: 10em;
        }
    }
    .flex:nth-child(2) {
        margin-top: 1em;
    }
}
.tag {
    border: 1px solid black;
    padding: .3em 1em;
    .name {
        font-size: 1em; // FIXME: no-op just to ensure .name is exported
    }
    .uses::before {
        content: "(";
        padding-left: .5em;
    }
    .uses::after {
        content: ")";
    }
}