.header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    background: var(--block-bg);
    border-bottom: 1px solid var(--block-border);

    .flex {
        margin: .25em 1em;
        display: flex;
        align-items: center;
        &>* {
            margin-left: 1em;
            flex: 0 1 auto;
        }
        &>*:first-child {
            margin-left: 0em;
        }
        &>.fill {
            flex: 1 1 auto;
        }
    }
    .flex:nth-child(2) {
        margin-top: 1em;
    }
}
.tag {
    border: 1px solid black;
    padding: .3em 1em;
    .uses::before {
        content: "(";
        padding-left: .5em;
    }
    .uses::after {
        content: ")";
    }
}