.voter {
    display: flex;
    flex-direction: row;
    gap: 0.3em;
    align-items: center;
    justify-content: start;
    &>* {
        flex: 0 0 auto;
    }
    .voted {
        color: #C00;
    }
}
.metadata {
    TABLE {
        width: 100%;
        margin: 0;
        TH {
            vertical-align: top;
        }
        TD {
            vertical-align: top;
            overflow-wrap: anywhere;
            padding-left: 1em;
            STRONG {
                font-size: .75em;
                display: block;
                position: relative;
                left: -1em;
            }
            IMG {
                aspect-ratio: 1/1;
                height: 100%;
                border: 1px solid var(--block-border);
                border-radius: .5em;
            }
        }
        TR:last-child TD {
            padding-left: 0;
        }
    }
}