.grid,
.masonry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    width: 100%;

    .thumbnail {
        display: block;
        text-align: center;

        IMG {
            display: block;
        }
    }
}
.grid {
    grid-gap: 0.5em;
    .thumbnail {
        IMG {
            max-width: 100%;
            max-height: 150px;
            height: auto;
            object-fit: contain;
        }
    }
}
.masonry {
    grid-template-rows: masonry;
    grid-gap: 0.2em;
    .thumbnail {
        IMG {
            object-fit: cover;
            width: 100%;
            max-height: 150px;
            height: auto;
            border: 1px solid var(--block-border);
        }
    }
}
