.voter {
    display: flex;
    flex-direction: row;
    gap: 0.3em;
    align-items: center;
    justify-content: flex-start;
    &>* {
        flex: 0 0 auto;
    }
    .voted {
        color: #C00;
    }
}
.metadata {
    TABLE {
        TD {
            overflow-wrap: anywhere;
            IMG {
                height: 100%;
            }
        }
        TR:last-child TD {
            padding-left: 0;
        }
    }
}