:root {
  --page-bg: #ACE4A3;
  --block-bg: #ACE4A3;
  --block-border: #7EB977;
}
/*
:root {
  --page-bg: #444;
  --block-bg: #BBB;
  --block-border: #999;
}
*/

* {
  box-sizing: border-box;
}
svg {
  height: 1em;
  path {
    fill: currentColor;
  }
}
body {
  font-family: 'Arial', sans-serif;
  background-image: url("bg.png");
  background-color: var(--page-bg);
}
A {
  text-decoration: none;
}

TABLE.form {
  margin: auto;
  TH {
      text-align: right;
      padding-right: .25em;
  }
  TD {
      text-align: left;
      INPUT[type="text"],
      BUTTON {
        width: 100%;
      }
  }
}
