name: Publish

on:
    workflow_run:
        workflows: Tests
        branches: main
        types: completed
    workflow_dispatch:
    push:
        tags:
            - "v*"

jobs:
    publish:
        name: Publish
        runs-on: ubuntu-24.04
        if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' || github.event_name == 'push' }}
        steps:
            - uses: actions/checkout@v4
            - name: Publish to Registry
              uses: elgohr/Publish-Docker-Github-Action@main
              with:
                  name: shish2k/shimmie2fe
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}
                  cache: ${{ github.event_name != 'schedule' }}
                  tag_semver: true
